@font-face {
  font-family: "Pontano Sans";
  src:
    local("PontanoSans-Regular"),
    url("./fonts/PontanoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue";
  src:
    local("BebasNeue-Regular"),
    url("./fonts/BebasNeue-Regular.ttf") format("truetype");
}

:root{
  --whiteColor: #F4FFF0;
  --blackColor: #131313;
  --primaryColor:#457813;
  --secondaryColor:#82FF8F;
  --tertiaryColor:#5F3D14;
  --primaryFont:"Bebas Neue", "sans serif";
  --secondaryFont:"Pontano Sans", "sans serif";
  --fontSize:1.2rem;
  --titleSize:2rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
