@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root {
  --whiteColor: #f4fff0;
  --blackColor: #131313;
  --primaryColor: #457813;
  --secondaryColor: #82ff8f;
  --tertiaryColor: #5f3d14;
  --primaryFont: "Great Vibes", "cursive", "sans serif";
  --secondaryFont: "Satisfy", "cursive","sans serif";
  --fontSize: 1.2rem;
  --titleSize: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--whiteColor);
}
