.about-container {
    text-align: center;
    padding: 2rem;
    background-color: #f9f9f9;
  }
   .titleMembers{
    font-size: 2rem;
    font-family: var(--secondaryFont);
  } 
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .team-member {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .aboutTxt{
    padding:2rem 0.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .team-member h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
     text-align: center;
  }
  
  .team-member p {
    margin: 0.5rem 0 0;
    color: #666;
   
  }
  